src/test/resources/live.dtd

<!ELEMENT dataset (
    address*,
    bank*,
    company*,
    item*,
    lending_book*,
    order*,
    replication_journal*,
    sample_shop*,
    schema_version*,
    selection_data*,
    t_bank*,
    t_bp_account*,
    t_bp_authority*,
    t_bukken*,
    t_claim*,
    t_data_access_auth*,
    t_hojin_tanto*,
    t_information*,
    t_jusho*,
    t_kaisha*,
    t_keiyaku*,
    t_kokyaku*,
    t_kokyaku_comment*,
    t_kokyaku_name_pattern*,
    t_link_kaisha_role*,
    t_link_role_auth*,
    t_link_staff_auth*,
    t_link_staff_role*,
    t_nyukin*,
    t_owner*,
    t_password_history*,
    t_role*,
    t_serial_number*,
    t_shukkin*,
    t_staff*,
    t_staff_authority*,
    t_staff_session*,
    user*,
    user_info*,
    user_role*)>

<!ELEMENT address EMPTY>
<!ATTLIST address
    jyuusho_cd CDATA #REQUIRED
    todoufuken_cd CDATA #IMPLIED
    sikuchouson_cd CDATA #IMPLIED
    choumei_cd CDATA #IMPLIED
    choumoku_cd CDATA #IMPLIED
    todoufuken_kana CDATA #IMPLIED
    sikuchouson_kana CDATA #IMPLIED
    choumei_kana CDATA #IMPLIED
    choumoku_kana CDATA #IMPLIED
    todoufuken CDATA #IMPLIED
    sikuchouson CDATA #IMPLIED
    choumei CDATA #IMPLIED
    choumoku CDATA #IMPLIED
    yuubin CDATA #IMPLIED
    syuusei_flg CDATA #IMPLIED
>

<!ELEMENT bank EMPTY>
<!ATTLIST bank
    bank_cd CDATA #REQUIRED
    gyousha_cd CDATA #IMPLIED
    bank_no CDATA #IMPLIED
    bank_name CDATA #IMPLIED
    siten_no CDATA #IMPLIED
    siten_name CDATA #IMPLIED
    change_date CDATA #IMPLIED
    bank_no_new CDATA #IMPLIED
    bank_name_new CDATA #IMPLIED
    siten_no_new CDATA #IMPLIED
    siten_name_new CDATA #IMPLIED
    input_time CDATA #IMPLIED
    shuusei_time CDATA #IMPLIED
    bank_name_kana CDATA #IMPLIED
    siten_name_kana CDATA #IMPLIED
    zip_code CDATA #IMPLIED
    address CDATA #IMPLIED
    tel CDATA #IMPLIED
    clearing_house_no CDATA #IMPLIED
    rank CDATA #IMPLIED
>

<!ELEMENT company EMPTY>
<!ATTLIST company
    id CDATA #REQUIRED
    name CDATA #IMPLIED
>

<!ELEMENT item EMPTY>
<!ATTLIST item
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT lending_book EMPTY>
<!ATTLIST lending_book
    lending_book_id CDATA #REQUIRED
    lending_app_id CDATA #REQUIRED
    isbn CDATA #REQUIRED
    book_name CDATA #REQUIRED
    lending_state CDATA #IMPLIED
    lending_app_flg CDATA #IMPLIED
    lending_app_reason CDATA #IMPLIED
    approval_result CDATA #IMPLIED
    approval_reason CDATA #IMPLIED
    version CDATA #REQUIRED
>

<!ELEMENT order EMPTY>
<!ATTLIST order
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    order_date CDATA #REQUIRED
>

<!ELEMENT replication_journal EMPTY>
<!ATTLIST replication_journal
    modify_date CDATA #REQUIRED
    table_name CDATA #REQUIRED
    modify_type CDATA #REQUIRED
    executor CDATA #REQUIRED
    replication_param CDATA #REQUIRED
    method_params CDATA #REQUIRED
    insert_staff_id CDATA #IMPLIED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #IMPLIED
    update_staff_id CDATA #IMPLIED
    update_datetime CDATA #IMPLIED
    update_program CDATA #IMPLIED
>

<!ELEMENT sample_shop EMPTY>
<!ATTLIST sample_shop
    shop_id CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program_id CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program_id CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    shop_code CDATA #REQUIRED
    shop_name CDATA #REQUIRED
    shop_description CDATA #REQUIRED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    installed_rank CDATA #REQUIRED
    version CDATA #IMPLIED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #REQUIRED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

<!ELEMENT selection_data EMPTY>
<!ATTLIST selection_data
    category_id CDATA #REQUIRED
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    name_kana CDATA #IMPLIED
    short_name CDATA #IMPLIED
    sequence CDATA #IMPLIED
    comment CDATA #IMPLIED
    disabled CDATA #IMPLIED
    registered_time CDATA #IMPLIED
    updated_time CDATA #IMPLIED
    delete_flg CDATA #REQUIRED
>

<!ELEMENT t_bank EMPTY>
<!ATTLIST t_bank
    bank_id CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    bank_cd CDATA #REQUIRED
    bank_name CDATA #REQUIRED
    bank_kana CDATA #REQUIRED
    bank_shiten_cd CDATA #REQUIRED
    bank_shiten_name CDATA #REQUIRED
    bank_shiten_kana CDATA #REQUIRED
    bank_cd_new CDATA #REQUIRED
    bank_name_new CDATA #REQUIRED
    bank_shiten_cd_new CDATA #REQUIRED
    bank_shiten_name_new CDATA #REQUIRED
    kirikae_date CDATA #IMPLIED
    yubin_no CDATA #REQUIRED
    jusho_kanji CDATA #REQUIRED
    tel CDATA #REQUIRED
    clearing_tegata_kokanjo_no CDATA #REQUIRED
    rank CDATA #REQUIRED
>

<!ELEMENT t_bp_account EMPTY>
<!ATTLIST t_bp_account
    login_id CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    account_name CDATA #REQUIRED
    account_kana CDATA #REQUIRED
    owner_cd CDATA #REQUIRED
    id_status CDATA #REQUIRED
    last_login_datetime CDATA #IMPLIED
    password CDATA #REQUIRED
    password_failure_count CDATA #REQUIRED
    password_failure_datetime CDATA #IMPLIED
    password_locked CDATA #REQUIRED
    password_lock_datetime CDATA #IMPLIED
    password_temporary CDATA #REQUIRED
    password_change_datetime CDATA #REQUIRED
    password_change_staff_id CDATA #IMPLIED
    password_expire_datetime CDATA #REQUIRED
>

<!ELEMENT t_bp_authority EMPTY>
<!ATTLIST t_bp_authority
    authority_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    muko_datetime CDATA #IMPLIED
    haishi_staff_id CDATA #REQUIRED
    haishi_staff_name CDATA #REQUIRED
    category_name CDATA #REQUIRED
    sort_ordering_category CDATA #REQUIRED
    authority_name CDATA #REQUIRED
    authority_setsumei CDATA #REQUIRED
    use_page_url CDATA #REQUIRED
    use_gyosha_setsumei CDATA #REQUIRED
    sort_ordering_in_category CDATA #REQUIRED
    default_use_authority_kbn CDATA #IMPLIED
    default_checkbox_states CDATA #IMPLIED
    insert_staff_name CDATA #REQUIRED
    update_staff_name CDATA #REQUIRED
>

<!ELEMENT t_bukken EMPTY>
<!ATTLIST t_bukken
    bukken_no CDATA #IMPLIED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    bukken_name CDATA #REQUIRED
    bukken_kana CDATA #REQUIRED
    todofuken_cd CDATA #REQUIRED
    jusho_cd CDATA #REQUIRED
    banchi CDATA #REQUIRED
    bukken_disp_name CDATA #REQUIRED
    bukken_disp_kana CDATA #REQUIRED
    sikichi_menseki CDATA #REQUIRED
    bukken_kaisu CDATA #IMPLIED
    bukken_kaisu_chika CDATA #IMPLIED
    kenchiku_year CDATA #IMPLIED
    kenchiku_month CDATA #IMPLIED
    kozo CDATA #REQUIRED
    ensen_cd01 CDATA #IMPLIED
    eki_cd01 CDATA #IMPLIED
    ensen_cd02 CDATA #IMPLIED
    eki_cd02 CDATA #IMPLIED
    ensen_cd03 CDATA #IMPLIED
    eki_cd03 CDATA #IMPLIED
    terminal_eki_cd01 CDATA #IMPLIED
    terminal_eki_name01 CDATA #REQUIRED
    terminal_eki_from01 CDATA #REQUIRED
    terminal_eki_cd02 CDATA #IMPLIED
    terminal_eki_name02 CDATA #REQUIRED
    terminal_eki_from02 CDATA #REQUIRED
    terminal_eki_cd03 CDATA #IMPLIED
    terminal_eki_name03 CDATA #REQUIRED
    terminal_eki_from03 CDATA #REQUIRED
    new_terminal_eki_from01 CDATA #IMPLIED
    new_terminal_eki_from02 CDATA #IMPLIED
    new_terminal_eki_from03 CDATA #IMPLIED
    bus_stop_name01 CDATA #REQUIRED
    bus_stop_name02 CDATA #REQUIRED
    bus_stop_name03 CDATA #REQUIRED
    bus_time01 CDATA #IMPLIED
    bus_time02 CDATA #IMPLIED
    bus_time03 CDATA #IMPLIED
    walk_minutes01 CDATA #IMPLIED
    walk_minutes02 CDATA #IMPLIED
    walk_minutes03 CDATA #IMPLIED
    kosu CDATA #REQUIRED
    car_access CDATA #REQUIRED
    parking_daisu CDATA #IMPLIED
    owner_cd CDATA #IMPLIED
    house_manager CDATA #REQUIRED
    unei_kaisha_cd CDATA #IMPLIED
    cleaning_gyosha_cd CDATA #IMPLIED
    oya_kaisha_cd CDATA #IMPLIED
    futon_gyosha_cd CDATA #IMPLIED
    help_desk_daiko_gyosha_cd CDATA #IMPLIED
    g_open_time CDATA #IMPLIED
    bihin_set_flg CDATA #IMPLIED
    oya_bukken_no CDATA #IMPLIED
    map_x CDATA #REQUIRED
    map_y CDATA #REQUIRED
    map_o_x CDATA #REQUIRED
    map_o_y CDATA #REQUIRED
    google_map_x CDATA #REQUIRED
    google_map_y CDATA #REQUIRED
    google_streetview_yaw CDATA #REQUIRED
    google_streetview_pitch CDATA #REQUIRED
    setsubi CDATA #REQUIRED
    manager_work_type CDATA #IMPLIED
    entrance_ansho_no CDATA #REQUIRED
    nyukyo_saitei_nissu CDATA #IMPLIED
    nyukyo_saitei_nissu_tani CDATA #IMPLIED
    bukken_hyoka CDATA #IMPLIED
    bukken_hyoka_good CDATA #IMPLIED
    bukken_hyoka_good_new CDATA #IMPLIED
    tekigo_hyoka CDATA #IMPLIED
    bukken_shubetsu01 CDATA #IMPLIED
    bukken_shubetsu02 CDATA #IMPLIED
    bukken_shubetsu03 CDATA #IMPLIED
    bukken_shubetsu04 CDATA #IMPLIED
    bukken_shubetsu05 CDATA #IMPLIED
    bukken_shubetsu06 CDATA #IMPLIED
    bukken_shubetsu07 CDATA #IMPLIED
    bukken_shubetsu08 CDATA #IMPLIED
    bukken_shubetsu09 CDATA #IMPLIED
    bukken_shubetsu10 CDATA #IMPLIED
    joken01_flg CDATA #IMPLIED
    joken02_flg CDATA #IMPLIED
    joken03_flg CDATA #IMPLIED
    joken04_flg CDATA #IMPLIED
    joken05_flg CDATA #IMPLIED
    joken06_flg CDATA #IMPLIED
    joken07_flg CDATA #IMPLIED
    joken08_flg CDATA #IMPLIED
    joken09_flg CDATA #IMPLIED
    joken10_flg CDATA #IMPLIED
    joken11_flg CDATA #IMPLIED
    joken12_flg CDATA #IMPLIED
    joken13_flg CDATA #IMPLIED
    joken14_flg CDATA #IMPLIED
    joken15_flg CDATA #IMPLIED
    joken16_flg CDATA #IMPLIED
    joken17_flg CDATA #IMPLIED
    joken18_flg CDATA #IMPLIED
    bukken_biko CDATA #REQUIRED
    mile_shinki CDATA #IMPLIED
    mile_saikeiyaku CDATA #IMPLIED
    worldperks_mile_shinki CDATA #IMPLIED
    worldperks_mile_saikeiyaku CDATA #IMPLIED
    chintai_konetsuhi_suido_tanka CDATA #IMPLIED
    chintai_konetsuhi_denryoku_tanka CDATA #IMPLIED
    chintai_konetsuhi_doryoku_tanka CDATA #IMPLIED
    suido_non_disp_flg CDATA #IMPLIED
    suido_kingaku CDATA #IMPLIED
    suido_kazei_kbn CDATA #IMPLIED
    churinjo_flg CDATA #IMPLIED
    churinjo_ryokin_month CDATA #IMPLIED
    churinjo_kazei_kbn CDATA #IMPLIED
    churinjo_non_disp_flg CDATA #IMPLIED
    churinjo_monthly_tekio_flg CDATA #IMPLIED
    bike_ryokin_month CDATA #IMPLIED
    bike_kazei_kbn CDATA #IMPLIED
    bike_non_disp_flg CDATA #IMPLIED
    parking_ryokin CDATA #IMPLIED
    parking_kazei_kbn CDATA #IMPLIED
    chokaihi_month CDATA #IMPLIED
    chokaihi_kazei_kbn CDATA #IMPLIED
    chokaihi_non_disp_flg CDATA #IMPLIED
    internet_ryokin_month CDATA #IMPLIED
    internet_kazei_kbn CDATA #IMPLIED
    internet_non_disp_flg CDATA #IMPLIED
    gomi_okiba CDATA #REQUIRED
    gomi_ryokin CDATA #IMPLIED
    gomi_kazei_kbn CDATA #IMPLIED
    gomi_non_disp_flg CDATA #IMPLIED
    takuhai_box_type CDATA #IMPLIED
    takuhai_box_biko CDATA #REQUIRED
    movie_url CDATA #REQUIRED
    youtube_movie_url CDATA #REQUIRED
    campaign_keyword CDATA #REQUIRED
    serch_freeword CDATA #REQUIRED
    web_setsubi CDATA #REQUIRED
    web_chinryo CDATA #REQUIRED
    web_konetsuhi CDATA #REQUIRED
    web_cleaning CDATA #REQUIRED
    web_sonota_hiyo CDATA #REQUIRED
    web_madori CDATA #REQUIRED
    web_hirosa CDATA #REQUIRED
    web_nyukyo_ninzu CDATA #REQUIRED
    web_biko CDATA #REQUIRED
    web_chinryo_middle CDATA #REQUIRED
    web_chinryo_long CDATA #REQUIRED
    web_konetsuhi_middle CDATA #REQUIRED
    web_konetsuhi_long CDATA #REQUIRED
    web_cleaning_middle CDATA #REQUIRED
    web_cleaning_long CDATA #REQUIRED
    web_list_biko CDATA #REQUIRED
    web_nyukyo_jokyo CDATA #REQUIRED
    web_chinryo_suchi_supershort CDATA #IMPLIED
    web_chinryo_suchi_short CDATA #IMPLIED
    web_chinryo_suchi_middle CDATA #IMPLIED
    web_chinryo_suchi_long CDATA #IMPLIED
    web_chinryo_suchi_short_month CDATA #IMPLIED
    web_chinryo_suchi_middle_month CDATA #IMPLIED
    web_chinryo_suchi_long_month CDATA #IMPLIED
    web_konetsuhi_suchi_supershort CDATA #IMPLIED
    web_konetsuhi_suchi_short CDATA #IMPLIED
    web_konetsuhi_suchi_middle CDATA #IMPLIED
    web_konetsuhi_suchi_long CDATA #IMPLIED
    web_konetsuhi_suchi_short_month CDATA #IMPLIED
    web_konetsuhi_suchi_middle_month CDATA #IMPLIED
    web_konetsuhi_suchi_long_month CDATA #IMPLIED
    web_cleaning_suchi_supershort CDATA #IMPLIED
    web_cleaning_suchi_short CDATA #IMPLIED
    web_cleaning_suchi_middle CDATA #IMPLIED
    web_cleaning_suchi_long CDATA #IMPLIED
    web_kanrihi_supershort CDATA #IMPLIED
    web_kanrihi_short CDATA #IMPLIED
    web_kanrihi_middle CDATA #IMPLIED
    web_kanrihi_long CDATA #IMPLIED
    web_jimu_tesuryo_suprshort CDATA #IMPLIED
    web_jimu_tesuryo_short CDATA #IMPLIED
    web_jimu_tesuryo_middle CDATA #IMPLIED
    web_jimu_tesuryo_long CDATA #IMPLIED
    new_web_chinryo_supershort CDATA #REQUIRED
    new_web_chinryo_short CDATA #REQUIRED
    new_web_chinryo_middle CDATA #REQUIRED
    new_web_chinryo_long CDATA #REQUIRED
    new_web_konetsuhi_supershort CDATA #REQUIRED
    new_web_konetsuhi_short CDATA #REQUIRED
    new_web_konetsuhi_middle CDATA #REQUIRED
    new_web_konetsuhi_long CDATA #REQUIRED
    new_web_cleaning_supershort CDATA #REQUIRED
    new_web_cleaning_short CDATA #REQUIRED
    new_web_cleaning_middle CDATA #REQUIRED
    new_web_cleaning_long CDATA #REQUIRED
    new_web_sonota_hiyo CDATA #REQUIRED
    new_web_madori CDATA #REQUIRED
    new_web_hirosa CDATA #REQUIRED
    new_web_biko CDATA #REQUIRED
    new_web_list_biko CDATA #REQUIRED
    new_web_setsubi CDATA #REQUIRED
    new_web_madori_kara_flg CDATA #IMPLIED
    new_web_hirosa_kara_flg CDATA #IMPLIED
    new_web_chinryo_kensaku_short CDATA #IMPLIED
    new_web_bed_flg01 CDATA #IMPLIED
    new_web_bed_flg02 CDATA #IMPLIED
    new_web_bed_flg03 CDATA #IMPLIED
    new_web_bed_flg04 CDATA #IMPLIED
    good_chinryo_short_kara_flg CDATA #IMPLIED
    good_chinryo_middle_kara_flg CDATA #IMPLIED
    good_chinryo_long_kara_flg CDATA #IMPLIED
    good_konetsuhi_short_kara_flg CDATA #IMPLIED
    good_konetsuhi_middle_kara_flg CDATA #IMPLIED
    good_konetsuhi_long_kara_flg CDATA #IMPLIED
    good_cleaning_short_kara_flg CDATA #IMPLIED
    good_cleaning_middle_kara_flg CDATA #IMPLIED
    good_cleaning_long_kara_flg CDATA #IMPLIED
    good_konetsuhi_short_type CDATA #IMPLIED
    good_konetsuhi_middle_type CDATA #IMPLIED
    good_konetsuhi_long_type CDATA #IMPLIED
    good_cleaning_short_type CDATA #IMPLIED
    good_cleaning_middle_type CDATA #IMPLIED
    good_cleaning_long_type CDATA #IMPLIED
    good_cleaning_short_shiharai_jiki_kbn CDATA #IMPLIED
    good_cleaning_middle_shiharai_jiki_kbn CDATA #IMPLIED
    good_cleaning_long_shiharai_jiki_kbn CDATA #IMPLIED
    good_web_sonota_hiyo CDATA #REQUIRED
    good_web_madori CDATA #REQUIRED
    good_web_madori_kara_flg CDATA #IMPLIED
    good_web_hirosa CDATA #REQUIRED
    good_web_hirosa_kara_flg CDATA #IMPLIED
    good_web_madori_loft_flg CDATA #IMPLIED
    good_web_chinryo_text_short CDATA #REQUIRED
    good_web_chinryo_text_midlle CDATA #REQUIRED
    good_web_chinryo_text_long CDATA #REQUIRED
    good_web_konetsuhi_text_short CDATA #REQUIRED
    good_web_konetsuhi_text_middle CDATA #REQUIRED
    good_web_konetsuhi_text_long CDATA #REQUIRED
    good_web_cleaning_text_short CDATA #REQUIRED
    good_web_cleaning_text_middle CDATA #REQUIRED
    good_web_cleaning_text_long CDATA #REQUIRED
    good_web_chinryo_text_supershort CDATA #REQUIRED
    good_web_konetsuhi_text_supershort CDATA #REQUIRED
    good_web_cleaning_text_supershort CDATA #REQUIRED
    good_chinryo_supershort_kara_flg CDATA #IMPLIED
    good_konetsuhi_supershort_kara_flg CDATA #IMPLIED
    good_cleaning_supershort_kara_flg CDATA #IMPLIED
    good_konetsuhi_supershort_type CDATA #IMPLIED
    good_cleaning_supershort_type CDATA #IMPLIED
    good_cleaning_supershort_shiharai_jiki_kbn CDATA #IMPLIED
    client_chinryo_supershort_kara_flg CDATA #IMPLIED
    client_chinryo_short_kara_flg CDATA #IMPLIED
    client_chinryo_middle_kara_flg CDATA #IMPLIED
    client_chinryo_long_kara_flg CDATA #IMPLIED
    client_konetsuhi_supershort_kara_flg CDATA #IMPLIED
    client_konetsuhi_short_kara_flg CDATA #IMPLIED
    client_konetsuhi_middle_kara_flg CDATA #IMPLIED
    client_konetsuhi_long_kara_flg CDATA #IMPLIED
    client_cleaning_supershort_kara_flg CDATA #IMPLIED
    client_cleaning_short_kara_flg CDATA #IMPLIED
    client_cleaning_middle_kara_flg CDATA #IMPLIED
    client_cleaning_long_kara_flg CDATA #IMPLIED
    client_konetsuhi_supershort_type CDATA #IMPLIED
    client_konetsuhi_short_type CDATA #IMPLIED
    client_konetsuhi_middle_type CDATA #IMPLIED
    client_konetsuhi_long_type CDATA #IMPLIED
    client_cleaning_supershort_type CDATA #IMPLIED
    client_cleaning_short_type CDATA #IMPLIED
    client_cleaning_middle_type CDATA #IMPLIED
    client_cleaning_long_type CDATA #IMPLIED
    client_cleaning_supershort_shiharai_jiki_kbn CDATA #IMPLIED
    client_cleaning_short_shiharai_jiki_kbn CDATA #IMPLIED
    client_cleaning_middle_shiharai_jiki_kbn CDATA #IMPLIED
    client_cleaning_long_shiharai_jiki_kbn CDATA #IMPLIED
    client_web_sonota_hiyo CDATA #REQUIRED
    client_web_madori CDATA #REQUIRED
    client_web_madori_kara_flg CDATA #IMPLIED
    client_web_hirosa CDATA #REQUIRED
    client_web_hirosa_kara_flg CDATA #IMPLIED
    client_loft_flg CDATA #IMPLIED
    client_web_chinryo_text_supershort CDATA #REQUIRED
    client_web_chinryo_text_short CDATA #REQUIRED
    client_web_chinryo_text_middle CDATA #REQUIRED
    client_web_chinryo_text_long CDATA #REQUIRED
    client_web_konetsuhi_text_supershort CDATA #REQUIRED
    client_web_konetsuhi_text_short CDATA #REQUIRED
    client_web_konetsuhi_text_middle CDATA #REQUIRED
    client_web_konetsuhi_text_long CDATA #REQUIRED
    client_web_cleaning_text_supershort CDATA #REQUIRED
    client_web_cleaning_text_short CDATA #REQUIRED
    client_web_cleaning_text_middle CDATA #REQUIRED
    client_web_cleaning_text_long CDATA #REQUIRED
    chintai_bukken_flg CDATA #IMPLIED
    chintai_web_sonota_hiyo CDATA #REQUIRED
    chintai_web_biko CDATA #REQUIRED
    non_open_flg_jisha CDATA #IMPLIED
    non_open_flg_good CDATA #IMPLIED
    non_open_flg_bhi CDATA #IMPLIED
    non_open_flg_hmn CDATA #IMPLIED
    non_open_flg_c21 CDATA #IMPLIED
    non_open_flg_man3s CDATA #IMPLIED
    non_open_flg_cs CDATA #IMPLIED
    non_open_flg_papa CDATA #IMPLIED
    non_open_flg_daiko CDATA #IMPLIED
    non_open_flg_good_chintai CDATA #IMPLIED
    non_open_flg_gsn CDATA #IMPLIED
    non_open_flg_hmnh CDATA #IMPLIED
    non_open_flg_etown CDATA #IMPLIED
    non_open_flg_nmm CDATA #IMPLIED
    non_open_flg_hmc CDATA #IMPLIED
    non_open_flg_konomachi CDATA #IMPLIED
    non_open_flg_bbm CDATA #IMPLIED
    non_open_flg_rd CDATA #IMPLIED
    non_open_flg_live_chintai CDATA #IMPLIED
    non_open_flg_jusho CDATA #IMPLIED
    open_flg_relo CDATA #IMPLIED
    open_flg_tokusen CDATA #IMPLIED
    g_request_flg CDATA #IMPLIED
    ss_active_flg CDATA #IMPLIED
    reform_flg CDATA #IMPLIED
    setbox_flg CDATA #IMPLIED
    kushitu_haijo_hitei_flg CDATA #IMPLIED
    entry_flg CDATA #IMPLIED
    bukken_basic_info_use_flg CDATA #IMPLIED
    special_bukken_flg CDATA #IMPLIED
    live_bukken_no CDATA #IMPLIED
    live_bukken_name01 CDATA #REQUIRED
    live_bukken_name02 CDATA #REQUIRED
    insert_date CDATA #IMPLIED
>

<!ELEMENT t_claim EMPTY>
<!ATTLIST t_claim
    claim_cd CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    keiyaku_no CDATA #IMPLIED
    keiyaku_no_old CDATA #IMPLIED
    claim CDATA #REQUIRED
    claim_taio_naiyo CDATA #REQUIRED
    claim_date CDATA #IMPLIED
    claim_time CDATA #IMPLIED
    claim_taishosha_kbn CDATA #IMPLIED
    claim_nyuryokusha_name CDATA #REQUIRED
    claim_kokyaku_cd CDATA #REQUIRED
    claim_shori_naiyo CDATA #REQUIRED
    shori_flg CDATA #IMPLIED
    claim_category_cd CDATA #IMPLIED
    claim_progress_cd CDATA #IMPLIED
    claim_shori_date CDATA #IMPLIED
    oya_kaisha_cd CDATA #IMPLIED
    priority CDATA #IMPLIED
    shanai_tantosha_name CDATA #REQUIRED
>

<!ELEMENT t_data_access_auth EMPTY>
<!ATTLIST t_data_access_auth
    kaisha_cd CDATA #IMPLIED
    function_id CDATA #IMPLIED
    insert_staff_id CDATA #IMPLIED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #IMPLIED
    update_staff_id CDATA #IMPLIED
    update_datetime CDATA #IMPLIED
    update_program CDATA #IMPLIED
    delete_flg CDATA #IMPLIED
    target_kaisha_cd CDATA #IMPLIED
    auth_type CDATA #IMPLIED
>

<!ELEMENT t_hojin_tanto EMPTY>
<!ATTLIST t_hojin_tanto
    hojin_tanto_id CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #IMPLIED
    kokyaku_no CDATA #IMPLIED
    hojin_tanto_name CDATA #REQUIRED
    hojin_tanto_busho_name CDATA #REQUIRED
    hojin_tanto_tel01 CDATA #REQUIRED
    hojin_tanto_tel02 CDATA #REQUIRED
    hojin_tanto_fax CDATA #REQUIRED
    hojin_tanto_email CDATA #REQUIRED
    hojin_tanto_date_start CDATA #IMPLIED
    hojin_tanto_date_end CDATA #IMPLIED
    hojin_tanto_biko CDATA #REQUIRED
>

<!ELEMENT t_information EMPTY>
<!ATTLIST t_information
    information_id CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_staff_name CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_staff_name CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #IMPLIED
    category CDATA #IMPLIED
    comment CDATA #REQUIRED
    non_open_flg CDATA #IMPLIED
    information_date CDATA #IMPLIED
    information_title CDATA #REQUIRED
    info_type CDATA #IMPLIED
    info_dest_kind CDATA #IMPLIED
>

<!ELEMENT t_jusho EMPTY>
<!ATTLIST t_jusho
    jusho_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    todofuken_cd CDATA #REQUIRED
    shikuchoson_cd CDATA #REQUIRED
    chomei_cd CDATA #REQUIRED
    chomoku_cd CDATA #REQUIRED
    todofuken_name CDATA #REQUIRED
    shikuchoson_name CDATA #REQUIRED
    chomei CDATA #REQUIRED
    chomoku CDATA #REQUIRED
    todofuken_kana CDATA #REQUIRED
    shikuchoson_kana CDATA #REQUIRED
    chomei_kana CDATA #REQUIRED
    chomoku_kana CDATA #REQUIRED
    yubin_no CDATA #REQUIRED
    shusei_kbn CDATA #REQUIRED
>

<!ELEMENT t_kaisha EMPTY>
<!ATTLIST t_kaisha
    kaisha_cd CDATA #REQUIRED
    insert_staff_id CDATA #IMPLIED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #IMPLIED
    update_staff_id CDATA #IMPLIED
    update_datetime CDATA #IMPLIED
    update_program CDATA #IMPLIED
    delete_flg CDATA #IMPLIED
    kaisha_name CDATA #IMPLIED
    kaisha_kana CDATA #IMPLIED
    tantosha_name CDATA #IMPLIED
    todofuken_cd CDATA #IMPLIED
    jusho_cd CDATA #IMPLIED
    banchi CDATA #IMPLIED
    building_name CDATA #IMPLIED
    tel01 CDATA #IMPLIED
    tel02 CDATA #IMPLIED
    fax CDATA #IMPLIED
    email CDATA #IMPLIED
    email02 CDATA #IMPLIED
    email03 CDATA #IMPLIED
    chinryo_plus_ninzu CDATA #IMPLIED
    chinryo_plus_ninzu_month CDATA #IMPLIED
    chinryo_plus_supershort_niuzu CDATA #IMPLIED
    konetsuhi_plus CDATA #IMPLIED
    konetsuhi_plus_month CDATA #IMPLIED
    linen_plus CDATA #IMPLIED
    cleaning_ryokin_plus_ninzu CDATA #IMPLIED
    shouhi_zei_ritsu CDATA #IMPLIED
    password CDATA #IMPLIED
    bank_id CDATA #IMPLIED
    bank_name CDATA #IMPLIED
    bank_shiten_name CDATA #IMPLIED
    bank_koza_kind CDATA #IMPLIED
    bank_koza_no CDATA #IMPLIED
    bank_koza_meigi CDATA #IMPLIED
    daihyosha_name CDATA #IMPLIED
    kotsu CDATA #IMPLIED
    map_file CDATA #IMPLIED
    map_kanri_flg CDATA #IMPLIED
    map_good_flg CDATA #IMPLIED
    map_kaisha_flg CDATA #IMPLIED
    torihiki_keitai CDATA #IMPLIED
    keiyaku_keitai_kbn CDATA #IMPLIED
    kino_kbn CDATA #IMPLIED
    entaikin CDATA #IMPLIED
    entai_kigen CDATA #IMPLIED
    jisha_url CDATA #IMPLIED
    jisha_url_kakuchoshi CDATA #IMPLIED
    jisha_site_ryokin_flg CDATA #IMPLIED
    jisha_site_url CDATA #IMPLIED
    jisha_site_tantosha_name CDATA #IMPLIED
    jisha_site_tantosha_email CDATA #IMPLIED
    jisha_site_biko CDATA #IMPLIED
    shuhen_info_open_site CDATA #IMPLIED
    site_nai_uketsuke_comment CDATA #IMPLIED
    kaiyaku_yokoku_date CDATA #IMPLIED
    kaiyaku_yokoku_tani CDATA #IMPLIED
    saikeiyaku_yokoku_date CDATA #IMPLIED
    saikeiyaku_yokoku_tani CDATA #IMPLIED
    saikeiyaku_kigen_date CDATA #IMPLIED
    nyukyo_saitei_nissu_flg CDATA #IMPLIED
    nyukyo_saitei_nissu CDATA #IMPLIED
    nyukyo_saitei_nissu_tani CDATA #IMPLIED
    keisai_flg_gm CDATA #IMPLIED
    keisai_flg_gmhg CDATA #IMPLIED
    gmhg_keisai_comment CDATA #IMPLIED
    keisai_flg_wm CDATA #IMPLIED
    keisai_flg_weekly_pro CDATA #IMPLIED
    keisai_flg_mm CDATA #IMPLIED
    keisai_flg_gl CDATA #IMPLIED
    keisai_flg_mb CDATA #IMPLIED
    keisai_flg_ad8 CDATA #IMPLIED
    keisai_flg_hmn CDATA #IMPLIED
    keisai_flg_c21 CDATA #IMPLIED
    keisai_flg_wb CDATA #IMPLIED
    keisai_flg_cs CDATA #IMPLIED
    keisai_flg_papa CDATA #IMPLIED
    keisai_flg_g_chintai CDATA #IMPLIED
    keisai_flg_gsn CDATA #IMPLIED
    keisai_flg_hmnh CDATA #IMPLIED
    keisai_flg_nmm CDATA #IMPLIED
    keisai_flg_hmc CDATA #IMPLIED
    keisai_flg_rd CDATA #IMPLIED
    keisai_flg_trunk_pro CDATA #IMPLIED
    keisai_flg_relo CDATA #IMPLIED
    keisai_flg_bbm CDATA #IMPLIED
    keisai_bukken_kensu_bbm CDATA #IMPLIED
    keisai_flg_konomachi CDATA #IMPLIED
    keisai_bukken_kensu_konomachi CDATA #IMPLIED
    itaku_todofuken_cd CDATA #IMPLIED
    itaku_jusho_cd CDATA #IMPLIED
    itaku_banchi CDATA #IMPLIED
    itaku_building_name CDATA #IMPLIED
    itaku_kaisha_name CDATA #IMPLIED
    itaku_kaisha_kana CDATA #IMPLIED
    itaku_tel01 CDATA #IMPLIED
    itaku_tel02 CDATA #IMPLIED
    itaku_fax CDATA #IMPLIED
    itaku_email01 CDATA #IMPLIED
    itaku_email02 CDATA #IMPLIED
    itaku_email03 CDATA #IMPLIED
    comment CDATA #IMPLIED
    month_tani CDATA #IMPLIED
    eigyo_date CDATA #IMPLIED
    eigyo_time CDATA #IMPLIED
    nyukin_shitei_date CDATA #IMPLIED
    first_nyukin_shitei_date01 CDATA #IMPLIED
    first_nyukin_shitei_date02 CDATA #IMPLIED
    first_nyukin_shitei_date_kbn CDATA #IMPLIED
    nyukin_shime_date CDATA #IMPLIED
    nyukin_shime_date_monthly CDATA #IMPLIED
    nyukin_shime_date_parking CDATA #IMPLIED
    keiyakusho_tokki01 CDATA #IMPLIED
    keiyakusho_tokki02 CDATA #IMPLIED
    keiyakusho_tokki03 CDATA #IMPLIED
    keiyakusho_tokki04 CDATA #IMPLIED
    keiyakusho_tokki05 CDATA #IMPLIED
    hoshonin_disp_kbn CDATA #IMPLIED
    open_flg_ng CDATA #IMPLIED
    ng_card_flg CDATA #IMPLIED
    ng_bunkatsu_flg CDATA #IMPLIED
    ng_ikkatsu_flg CDATA #IMPLIED
    bunkatsu_use_flg CDATA #IMPLIED
    web_shiharai_flg01 CDATA #IMPLIED
    web_shiharai_flg02 CDATA #IMPLIED
    web_shiharai_flg03 CDATA #IMPLIED
    web_shiharai_flg04 CDATA #IMPLIED
    web_shiharai_flg05 CDATA #IMPLIED
    shanai_todofuken_cd CDATA #IMPLIED
    syanai_jusho_cd CDATA #IMPLIED
    shanai_banchi CDATA #IMPLIED
    shanai_building_name CDATA #IMPLIED
    shanai_kaisha_name01 CDATA #IMPLIED
    shanai_kaisha_name02 CDATA #IMPLIED
    shanai_daihyosha_name CDATA #IMPLIED
    shanai_tantosha01_name CDATA #IMPLIED
    shanai_tantosha01_yakushoku_name CDATA #IMPLIED
    shanai_tantosha01_email CDATA #IMPLIED
    shanai_tantosha01_tel CDATA #IMPLIED
    shanai_tantosha01_fax CDATA #IMPLIED
    shanai_tantosha02_name CDATA #IMPLIED
    shanai_tantosha02_yakushoku_name CDATA #IMPLIED
    shanai_tantosha02_email CDATA #IMPLIED
    shanai_tantosha02_tel CDATA #IMPLIED
    shanai_tantosha02_fax CDATA #IMPLIED
    shanai_tantosha03_name CDATA #IMPLIED
    shanai_tantosha03_yakushoku_name CDATA #IMPLIED
    shanai_tantosha03_email CDATA #IMPLIED
    shanai_tantosha03_tel CDATA #IMPLIED
    shanai_tantosha03_fax CDATA #IMPLIED
    heisha_eigyo_tantosha_name01 CDATA #IMPLIED
    heisha_eigyo_tantosha_name02 CDATA #IMPLIED
    i_collect_cd CDATA #IMPLIED
    i_collect_url CDATA #IMPLIED
    i_collect_email CDATA #IMPLIED
    privacy_policy_text CDATA #IMPLIED
    keisan_kbn_supershort CDATA #IMPLIED
    keisan_kbn_short CDATA #IMPLIED
    keisan_kbn_middle CDATA #IMPLIED
    keisan_kbn_long CDATA #IMPLIED
    request_rakurakubox_report_mail_flg CDATA #IMPLIED
    bbm_campaign_toroku_hp_title CDATA #IMPLIED
    bbm_campaign_toroku_info_url CDATA #IMPLIED
    bbm_campaign_toroku_pr_text CDATA #IMPLIED
    kaisha_authority CDATA #IMPLIED
    sanko CDATA #IMPLIED
    maintenance_haishin_email CDATA #IMPLIED
    cleaning_copy_email CDATA #IMPLIED
    default_keiyaku_non_encho_flg_supershort CDATA #IMPLIED
    default_keiyaku_non_encho_flg_short CDATA #IMPLIED
    default_keiyaku_non_encho_flg_middle CDATA #IMPLIED
    default_keiyaku_non_encho_flg_long CDATA #IMPLIED
    keiyaku_nissu_min CDATA #IMPLIED
    keiyaku_nissu_max CDATA #IMPLIED
    kanri_system_use_keiyaku_kikan_start CDATA #IMPLIED
    kanri_system_use_keiyaku_kikan_end CDATA #IMPLIED
    kokoku_keiyaku_kikan_start CDATA #IMPLIED
    kokoku_keiyaku_kikan_end CDATA #IMPLIED
    adpark_id CDATA #IMPLIED
    adpark_delete_id CDATA #IMPLIED
    haijo_seigen_date_start CDATA #IMPLIED
    haijo_kushitsu_nissu CDATA #IMPLIED
    keiyaku_process CDATA #IMPLIED
    shinsa_process CDATA #IMPLIED
    chintai_kino_use_flg CDATA #IMPLIED
    chintai_tel01 CDATA #IMPLIED
    chintai_tel02 CDATA #IMPLIED
    chintai_fax CDATA #IMPLIED
    chintai_email01 CDATA #IMPLIED
    chintai_email02 CDATA #IMPLIED
    chintai_email03 CDATA #IMPLIED
    chintai_keiyaku_keitai CDATA #IMPLIED
    chintai_bank_koza_meigi CDATA #IMPLIED
    chintai_bank_koza_kind CDATA #IMPLIED
    chintai_bank_koza_no CDATA #IMPLIED
    chintai_bank_name CDATA #IMPLIED
    chintai_bank_shiten_name CDATA #IMPLIED
    chintai_bank_id CDATA #IMPLIED
    chintai_kaiyaku_yokoku_date CDATA #IMPLIED
    chintai_kaiyaku_yokoku_tani CDATA #IMPLIED
    chintai_saikeiyaku_yokoku_date CDATA #IMPLIED
    chintai_saikeiyaku_yokoku_tani CDATA #IMPLIED
    chintai_nyukin_shitei_date CDATA #IMPLIED
    chintai_first_nyukin_shitei_date01 CDATA #IMPLIED
    chintai_fitst_nyukin_shitei_date02 CDATA #IMPLIED
    chintai_first_nyukin_shitei_date_kbn CDATA #IMPLIED
    chintai_hoshonin_disp_kbn CDATA #IMPLIED
    chintai_month_tani CDATA #IMPLIED
    chintai_keiyaku_process CDATA #IMPLIED
    explaination_date_first CDATA #IMPLIED
    explaination_date_second CDATA #IMPLIED
    explaination_date_third CDATA #IMPLIED
    hankyo_moto_id CDATA #IMPLIED
    hankyo_moto_date CDATA #IMPLIED
    campaign_member_flg CDATA #IMPLIED
    premium_member_flg CDATA #IMPLIED
    kyokai_member_flg CDATA #IMPLIED
    kyosai_member_flg CDATA #IMPLIED
    kanri_use_jokyo_function_kbn CDATA #IMPLIED
    privacy_policy_flg CDATA #IMPLIED
    card_disp_flg CDATA #IMPLIED
    kazei_kbn_disp_flg CDATA #IMPLIED
    shohi_zei_disp_flg CDATA #IMPLIED
    mile_shiyo_flg CDATA #IMPLIED
    test_gyosha_flg CDATA #IMPLIED
    kanri_sys_rendo_jisha_site_flg CDATA #IMPLIED
    movie_flg CDATA #IMPLIED
    kaisha_shokai_page_keiyaku_kbn CDATA #IMPLIED
    kushitu_haijo_hitei_flg CDATA #IMPLIED
    kushitsu_hantei_kbn01 CDATA #IMPLIED
    kushitsu_hantei_kbn02 CDATA #IMPLIED
    explaination_kaisu_kbn CDATA #IMPLIED
    mitsumori_flg CDATA #IMPLIED
    hoshonin_umu_flg CDATA #IMPLIED
    man3_csv_flg CDATA #IMPLIED
    moshikomisho_custom_flg01 CDATA #IMPLIED
    moshikomisho_custom_text01 CDATA #IMPLIED
    moshikomisho_custom_flg02 CDATA #IMPLIED
    moshikomisho_custom_text02 CDATA #IMPLIED
    moshikomisho_custom_flg03 CDATA #IMPLIED
    moshikomisho_custom_text03 CDATA #IMPLIED
    shacho_setsumei_flg CDATA #IMPLIED
    shacho_setsumei_date CDATA #IMPLIED
    kani_site_news CDATA #IMPLIED
    kani_site_news_title CDATA #IMPLIED
    kani_site_css CDATA #IMPLIED
    kani_site_mail_kenmei CDATA #IMPLIED
    kani_site_mail_comment01 CDATA #IMPLIED
    kani_site_mail_comment02 CDATA #IMPLIED
    system_seikyu_stop_month CDATA #IMPLIED
    kanri_sys_seikyu_month_stop CDATA #IMPLIED
    campaign_seikyu_month_start CDATA #IMPLIED
    campaign_seikyu_month_stop CDATA #IMPLIED
    map_gm_seikyu_month_start CDATA #IMPLIED
    map_gm_seikyu_month_stop CDATA #IMPLIED
    map_kanri_seikyu_month_start CDATA #IMPLIED
    map_kanri_seikyu_month_stop CDATA #IMPLIED
    map_jisha_seikyu_month_start CDATA #IMPLIED
    map_jisha_seikyu_month_stop CDATA #IMPLIED
    mypage_encho_kigen CDATA #IMPLIED
    mypage_news CDATA #IMPLIED
    mypage_url CDATA #IMPLIED
    mypage_keiyaku_flg CDATA #IMPLIED
    mypage_seikyu_month_start CDATA #IMPLIED
    mypage_seikyu_month_stop CDATA #IMPLIED
    jutaku_hoken_ryo CDATA #IMPLIED
    dailyreport_for_livemax_email CDATA #IMPLIED
    dailyreport_for_livemax_email_name CDATA #IMPLIED
    rank CDATA #IMPLIED
    oya_kaisha_cd CDATA #IMPLIED
    fc_store_name CDATA #IMPLIED
    fc_store_kana CDATA #IMPLIED
    hitsuyo_mibun_shomei CDATA #IMPLIED
    other_notice CDATA #IMPLIED
    fc_gyosha_flg CDATA #IMPLIED
    base_time_nyukyo CDATA #IMPLIED
    base_time_taikyo CDATA #IMPLIED
    parking_hoshonin_disp_kbn CDATA #IMPLIED
    parking_shokai_nyukin_shitei_date_kbn CDATA #IMPLIED
    parking_nyukin_shitei_date CDATA #IMPLIED
    parking_shokai_nyukin_shitei_date01 CDATA #IMPLIED
    parking_shokai_nyukin_shitei_date02 CDATA #IMPLIED
    parking_kaiyaku_yokoku_date CDATA #IMPLIED
    parking_kaiyaku_yokoku_tani CDATA #IMPLIED
    parking_saikeiyaku_yokoku_date CDATA #IMPLIED
    parking_saikeiyaku_yokoku_tani CDATA #IMPLIED
    chintai_kariage_chinryo_uwanose_kingaku CDATA #IMPLIED
    cleaning_keiyaku_process CDATA #IMPLIED
    chintai_cleaning_keiyaku_process CDATA #IMPLIED
    chintai_tokki_01 CDATA #IMPLIED
    chintai_tokki_02 CDATA #IMPLIED
    chintai_tokki_03 CDATA #IMPLIED
    chintai_tokki_04 CDATA #IMPLIED
    chintai_tokki_05 CDATA #IMPLIED
    chintai_tokki_06 CDATA #IMPLIED
    chintai_tokki_07 CDATA #IMPLIED
    chintai_tokki_08 CDATA #IMPLIED
    chintai_tokki_09 CDATA #IMPLIED
    chintai_tokki_10 CDATA #IMPLIED
    chintai_tokki_11 CDATA #IMPLIED
    chintai_tokki_12 CDATA #IMPLIED
    chintai_tokki_13 CDATA #IMPLIED
    chintai_tokki_14 CDATA #IMPLIED
    chintai_tokki_15 CDATA #IMPLIED
    insert_date CDATA #IMPLIED
>

<!ELEMENT t_keiyaku EMPTY>
<!ATTLIST t_keiyaku
    keiyaku_no CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    oya_kaisha_cd CDATA #IMPLIED
    keiyaku_no_original CDATA #REQUIRED
    moto_keiyaku_no CDATA #IMPLIED
    moto_keiyaku_no_original CDATA #REQUIRED
    keiyaku_no_old CDATA #IMPLIED
    moto_keiyaku_no_old CDATA #IMPLIED
    heya_kanri_no CDATA #IMPLIED
    bukken_no CDATA #IMPLIED
    keiyakusha_cd CDATA #IMPLIED
    keiyaku_jokyo_kbn CDATA #REQUIRED
    keiyaku_shubetsu CDATA #IMPLIED
    keiyaku_kbn CDATA #IMPLIED
    keiyaku_date_moushikomi CDATA #IMPLIED
    keiyaku_date CDATA #IMPLIED
    keiyaku_date_start CDATA #IMPLIED
    keiyaku_date_end CDATA #IMPLIED
    kaiyaku_yokoku_date CDATA #REQUIRED
    kaiyaku_yokoku_tani CDATA #IMPLIED
    saikeiyaku_yokoku_date CDATA #REQUIRED
    saikeiyaku_yokoku_tani CDATA #IMPLIED
    saikeiyaku_jido_koshin_flg CDATA #IMPLIED
    saikeiyaku_kosin_flg CDATA #IMPLIED
    keiyaku_biko CDATA #REQUIRED
    keiyaku_date_start_original CDATA #IMPLIED
    keiyaku_date_end_original CDATA #IMPLIED
    hoshonin_hitsuyo_flg CDATA #REQUIRED
    hoshonin_cd CDATA #IMPLIED
    hoshonin_zokugara CDATA #REQUIRED
    hoshonin_disp_kbn CDATA #IMPLIED
    shinsa_kbn CDATA #IMPLIED
    shinsa_no CDATA #REQUIRED
    kagi_renraku_yotei_date CDATA #IMPLIED
    nyukyo_date CDATA #IMPLIED
    nyukyo_time CDATA #REQUIRED
    nyukyo_final_kakunin_flg CDATA #IMPLIED
    nyukyo_final_kakunin_koshin_date CDATA #IMPLIED
    nyukyo_final_kakunin_staff_id CDATA #REQUIRED
    nyukyo_biko CDATA #REQUIRED
    taikyo_date CDATA #IMPLIED
    taikyo_time CDATA #REQUIRED
    taikyo_final_kakunin_flg CDATA #IMPLIED
    taikyo_final_kakunin_datetime CDATA #IMPLIED
    taikyo_final_kakunin_staff_id CDATA #REQUIRED
    taikyo_kakunin_flg CDATA #IMPLIED
    taikyo_biko CDATA #REQUIRED
    month_tani CDATA #REQUIRED
    nyuryokusha CDATA #REQUIRED
    uketsukesha CDATA #REQUIRED
    purpose_kbn CDATA #REQUIRED
    seikyusho_type CDATA #IMPLIED
    seikyusho_hitsuyo_flg CDATA #IMPLIED
    seikyusho_nyukyosha_disp_flg CDATA #IMPLIED
    ryoshusho_hitsuyo_flg CDATA #IMPLIED
    shiharai_hoho_kbn CDATA #REQUIRED
    shiharai_kaisu_kbn CDATA #IMPLIED
    bunkatsu_shiharai_nissu CDATA #IMPLIED
    nyukin_shitei_kbn CDATA #IMPLIED
    nyukin_shitei_date CDATA #REQUIRED
    nyukin_shitei_date_first CDATA #REQUIRED
    nyukin_shitei_month_first CDATA #REQUIRED
    nyukin_shitei_year_first CDATA #REQUIRED
    claim CDATA #REQUIRED
    claim_date CDATA #IMPLIED
    claim_taishosha_kbn CDATA #IMPLIED
    mile CDATA #IMPLIED
    mile_kbn CDATA #IMPLIED
    mile_fuyo_irai_datetime CDATA #IMPLIED
    mile_mail_send_flg CDATA #IMPLIED
    karikeiyaku_sakujo_kbn CDATA #IMPLIED
    keiyaku_fuzoku_type CDATA #IMPLIED
    karikeiyaku_yuko_kigen CDATA #IMPLIED
    karikeiyaku_kigen_time CDATA #IMPLIED
    kado_shubetsu_cd CDATA #IMPLIED
    uketsuke_gyousha_cd CDATA #IMPLIED
    chukai_gyosha_cd CDATA #IMPLIED
    futon_gyosha_cd CDATA #IMPLIED
    premium_gyosha_cd CDATA #IMPLIED
    daiko_gyosha_cd CDATA #IMPLIED
    daiko_gyosha_tantosha_name CDATA #REQUIRED
    goodsetbox_video_limit CDATA #IMPLIED
    nyukyo_ninzu CDATA #IMPLIED
    nyukyosha_cd01 CDATA #IMPLIED
    nyukyosha_cd02 CDATA #IMPLIED
    nyukyosha_cd03 CDATA #IMPLIED
    nyukyosha_cd04 CDATA #IMPLIED
    nyukyosha_cd05 CDATA #IMPLIED
    nyukyosha01_zokugara CDATA #REQUIRED
    hitsuyo_shorui CDATA #REQUIRED
    hitsuyo_shorui_jyuri CDATA #REQUIRED
    sofu_saki_cd CDATA #IMPLIED
    shorui_hasso_hoho_fax CDATA #IMPLIED
    shorui_hasso_hoho_mail CDATA #IMPLIED
    shorui_hasso_hoho_sagawa CDATA #IMPLIED
    shorui_hasso_hoho_yuso CDATA #IMPLIED
    shorui_hasso_hoho_mailbin CDATA #IMPLIED
    kokoku_baitai CDATA #REQUIRED
    kokoku_tesuryo CDATA #IMPLIED
    kokoku_nyukin_tesuryo_nyu CDATA #IMPLIED
    kokoku_nyukin_date_nyu CDATA #IMPLIED
    kokoku_nyukin_yotei_date CDATA #IMPLIED
    kokoku_nyukin_date CDATA #IMPLIED
    tantosha_name CDATA #REQUIRED
    seikyu_tantosha_name CDATA #REQUIRED
    seikyu_tanto_busho_name CDATA #REQUIRED
    hojin_tantosha_name CDATA #REQUIRED
    hojin_tantosha_busho_name CDATA #REQUIRED
    hojin_tantosha_renraku CDATA #REQUIRED
    hojin_tantosha_biko CDATA #REQUIRED
    keiyakusho_tokki01 CDATA #REQUIRED
    keiyakusho_tokki02 CDATA #REQUIRED
    keiyakusho_tokki03 CDATA #REQUIRED
    keiyakusho_tokki04 CDATA #REQUIRED
    keiyakusho_tokki05 CDATA #REQUIRED
    keiyakusho_tokki06 CDATA #REQUIRED
    keiyakusho_tokki07 CDATA #REQUIRED
    keiyakusho_tokki08 CDATA #REQUIRED
    keiyakusho_tokki09 CDATA #REQUIRED
    keiyakusho_tokki10 CDATA #REQUIRED
    keiyakusho_tokki11 CDATA #REQUIRED
    keiyakusho_tokki12 CDATA #REQUIRED
    keiyakusho_tokki13 CDATA #REQUIRED
    keiyakusho_tokki14 CDATA #REQUIRED
    keiyakusho_tokki15 CDATA #REQUIRED
    shouhi_zei_ritsu CDATA #IMPLIED
    first_seikyu_next_plus_flg CDATA #IMPLIED
    chinryo_day CDATA #IMPLIED
    chinryo_month_kotei CDATA #IMPLIED
    chinryo_month CDATA #IMPLIED
    chinryo_keisan_kbn CDATA #IMPLIED
    chinryo_kazei_kbn CDATA #IMPLIED
    chinryo_kazei_kbn_month CDATA #IMPLIED
    final_month_ryokin_kbn_chinryo CDATA #IMPLIED
    shikikin_reikin_kbn CDATA #IMPLIED
    reikin_kotei_flg CDATA #IMPLIED
    shikikin CDATA #IMPLIED
    shikikin_kazei_kbn CDATA #IMPLIED
    reikin CDATA #IMPLIED
    reikin_kazei_kbn CDATA #IMPLIED
    kasai_hoken_flg CDATA #IMPLIED
    kasai_hoken_shiharai_hoho_type CDATA #IMPLIED
    kasai_hoken_kingaku CDATA #IMPLIED
    kasai_hoken_kikan_kbn CDATA #IMPLIED
    kasai_hoken_biko CDATA #REQUIRED
    konetsuhi_day CDATA #IMPLIED
    konetsuhi_kazei_kbn CDATA #IMPLIED
    konetsuhi_month CDATA #IMPLIED
    konetsuhi_kazei_kbn_month CDATA #IMPLIED
    konetsuhi_ryokin_keisan_kbn CDATA #IMPLIED
    suido_use_flg CDATA #IMPLIED
    suido_kingaku CDATA #IMPLIED
    suido_kazei_kbn CDATA #IMPLIED
    suido_seikyu_kbn CDATA #IMPLIED
    cleaning_flg CDATA #IMPLIED
    cleaning_ryokin CDATA #IMPLIED
    cleaning_kazei_kbn CDATA #IMPLIED
    old_cleaning_hiyo CDATA #IMPLIED
    old_hikaku_linen_hiyo CDATA #IMPLIED
    cleaning_hiyo_sagaku CDATA #IMPLIED
    cleanig_biko CDATA #REQUIRED
    linen CDATA #IMPLIED
    linen_kazei_kbn CDATA #IMPLIED
    parking_keiyaku_flg CDATA #IMPLIED
    parking_use_flg CDATA #IMPLIED
    parking_ryokin CDATA #IMPLIED
    parking_seikyu_kbn CDATA #IMPLIED
    parking_kazei_kbn CDATA #IMPLIED
    churinjo_use_flg CDATA #IMPLIED
    churinjo_ryokin_month CDATA #IMPLIED
    churinjo_seikyu_kbn CDATA #IMPLIED
    churinjo_kazei_kbn CDATA #IMPLIED
    bike_use_flg CDATA #IMPLIED
    bike_ryokin_month CDATA #IMPLIED
    bike_seikyu_kbn CDATA #IMPLIED
    bike_kazei_kbn CDATA #IMPLIED
    chokaihi_use_flg CDATA #IMPLIED
    chokaihi_month CDATA #IMPLIED
    chokaihi_seikyu_kbn CDATA #IMPLIED
    chokaihi_kazei_kbn CDATA #IMPLIED
    internet_use_flg CDATA #IMPLIED
    internet_ryokin_month CDATA #IMPLIED
    internet_seikyu_kbn CDATA #IMPLIED
    internet_kazei_kbn CDATA #IMPLIED
    gomi_okiba_use_flg CDATA #IMPLIED
    gomi_ryokin CDATA #IMPLIED
    gomi_seikyu_kbn CDATA #IMPLIED
    gomi_kazei_kbn CDATA #IMPLIED
    pet_toroku_ryo_plus CDATA #IMPLIED
    pet_toroku_ryo_kazei_kbn CDATA #IMPLIED
    seikyu_pet_toroku_zei CDATA #IMPLIED
    kokyaku_waribiki_type CDATA #IMPLIED
    waribiki_tekio_date_end CDATA #IMPLIED
    waribiki_name01 CDATA #REQUIRED
    waribiki_seikyu_kbn01 CDATA #IMPLIED
    waribiki_ryokin01 CDATA #IMPLIED
    waribiki_kazei_kbn01 CDATA #IMPLIED
    waribiki_taisho_kbn01 CDATA #IMPLIED
    waribiki_hikitsugi_flg01 CDATA #IMPLIED
    waribiki_name02 CDATA #REQUIRED
    waribiki_seikyu_kbn02 CDATA #IMPLIED
    waribiki_ryokin02 CDATA #IMPLIED
    waribiki_kazei_kbn02 CDATA #IMPLIED
    waribiki_taisho_kbn02 CDATA #IMPLIED
    waribiki_hikitsugi_flg02 CDATA #IMPLIED
    waribiki_name03 CDATA #REQUIRED
    waribiki_seikyu_kbn03 CDATA #IMPLIED
    waribiki_ryokin03 CDATA #IMPLIED
    waribiki_kazei_kbn03 CDATA #IMPLIED
    waribiki_taisho_kbn03 CDATA #IMPLIED
    waribiki_hikitsugi_flg03 CDATA #IMPLIED
    chintai_hoken_ryo CDATA #IMPLIED
    chintai_hoken_ryo_kazei_kbn CDATA #IMPLIED
    chintai_hoken_ryo_futansha_kbn CDATA #IMPLIED
    chintai_kanrihi CDATA #IMPLIED
    chintai_kanrihi_kazei_kbn CDATA #IMPLIED
    chintai_kanrihi_month CDATA #IMPLIED
    chintai_kanrihi_kazei_kbn_month CDATA #IMPLIED
    final_month_ryokin_kbn_kanrihi CDATA #IMPLIED
    chintai_shikikin CDATA #IMPLIED
    chintai_shikikin_kazei_kbn CDATA #IMPLIED
    chintai_reikin CDATA #IMPLIED
    chintai_reikin_kazei_kbn CDATA #IMPLIED
    chintai_zantei_konetsuhi CDATA #IMPLIED
    chintai_zantei_konetsuhi_futansha_kbn CDATA #IMPLIED
    chintai_denki_kihon_ryo CDATA #IMPLIED
    chintai_denki_kihon_ryo_futansha_kbn CDATA #IMPLIED
    chintai_first_denryoku_meter CDATA #IMPLIED
    chintai_denki_siyo_ryo_futansha_kbn CDATA #IMPLIED
    chintai_first_doryoku_meter CDATA #IMPLIED
    chintai_doryoku_siyo_ryo_futansha_kbn CDATA #IMPLIED
    chintai_suido_kihon_ryo CDATA #IMPLIED
    chintai_suido_kotei_flg CDATA #IMPLIED
    chintai_first_suido_meter CDATA #IMPLIED
    chintai_suido_kihon_ryo_futansha_kbn CDATA #IMPLIED
    chintai_suido_shiyo_ryo_futansha_kbn CDATA #IMPLIED
    chintai_koshin_ryo CDATA #IMPLIED
    chintai_koshin_tesuryo CDATA #IMPLIED
    chintai_koshin_ryo_kazei_kbn CDATA #IMPLIED
    chintai_koshin_tesuryo_kazei_kbn CDATA #IMPLIED
    chintai_koshin_ryo_text CDATA #REQUIRED
    chintai_jacss_tesuryo CDATA #IMPLIED
    keiyaku_hiyo_name01 CDATA #REQUIRED
    keiyaku_hiyo01 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn01 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn01 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn01 CDATA #IMPLIED
    keiyaku_hiyo_name02 CDATA #REQUIRED
    keiyaku_hiyo02 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn02 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn02 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn02 CDATA #IMPLIED
    keiyaku_hiyo_name03 CDATA #REQUIRED
    keiyaku_hiyo03 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn03 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn03 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn03 CDATA #IMPLIED
    keiyaku_hiyo_name04 CDATA #REQUIRED
    keiyaku_hiyo04 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn04 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn04 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn04 CDATA #IMPLIED
    keiyaku_hiyo_name05 CDATA #REQUIRED
    keiyaku_hiyo05 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn05 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn05 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn05 CDATA #IMPLIED
    keiyaku_hiyo_name06 CDATA #REQUIRED
    keiyaku_hiyo06 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn06 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn06 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn06 CDATA #IMPLIED
    keiyaku_hiyo_name07 CDATA #REQUIRED
    keiyaku_hiyo07 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn07 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn07 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn07 CDATA #IMPLIED
    keiyaku_hiyo_name08 CDATA #REQUIRED
    keiyaku_hiyo08 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn08 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn08 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn08 CDATA #IMPLIED
    keiyaku_hiyo_name09 CDATA #REQUIRED
    keiyaku_hiyo09 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn09 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn09 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn09 CDATA #IMPLIED
    keiyaku_hiyo_name10 CDATA #REQUIRED
    keiyaku_hiyo10 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn10 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn10 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn10 CDATA #IMPLIED
    keiyaku_hiyo_name11 CDATA #REQUIRED
    keiyaku_hiyo11 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn11 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn11 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn11 CDATA #IMPLIED
    keiyaku_hiyo_name12 CDATA #REQUIRED
    keiyaku_hiyo12 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn12 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn12 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn12 CDATA #IMPLIED
    keiyaku_hiyo_name13 CDATA #REQUIRED
    keiyaku_hiyo13 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn13 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn13 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn13 CDATA #IMPLIED
    keiyaku_hiyo_name14 CDATA #REQUIRED
    keiyaku_hiyo14 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn14 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn14 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn14 CDATA #IMPLIED
    keiyaku_hiyo_name15 CDATA #REQUIRED
    keiyaku_hiyo15 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn15 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn15 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn15 CDATA #IMPLIED
    keiyaku_hiyo_name16 CDATA #REQUIRED
    keiyaku_hiyo16 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn16 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn16 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn16 CDATA #IMPLIED
    keiyaku_hiyo_name17 CDATA #REQUIRED
    keiyaku_hiyo17 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn17 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn17 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn17 CDATA #IMPLIED
    keiyaku_hiyo_name18 CDATA #REQUIRED
    keiyaku_hiyo18 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn18 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn18 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn18 CDATA #IMPLIED
    keiyaku_hiyo_name19 CDATA #REQUIRED
    keiyaku_hiyo19 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn19 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn19 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn19 CDATA #IMPLIED
    keiyaku_hiyo_name20 CDATA #REQUIRED
    keiyaku_hiyo20 CDATA #IMPLIED
    keiyaku_hiyo_seikyu_kbn20 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn20 CDATA #IMPLIED
    keiyaku_hiyo_kazei_kbn20 CDATA #IMPLIED
    keiyaku_hiyo_genka01 CDATA #IMPLIED
    keiyaku_hiyo_genka02 CDATA #IMPLIED
    keiyaku_hiyo_genka03 CDATA #IMPLIED
    keiyaku_hiyo_genka04 CDATA #IMPLIED
    keiyaku_hiyo_genka05 CDATA #IMPLIED
    keiyaku_hiyo_genka06 CDATA #IMPLIED
    keiyaku_hiyo_genka07 CDATA #IMPLIED
    keiyaku_hiyo_genka08 CDATA #IMPLIED
    heya_hiyo_name01 CDATA #REQUIRED
    heya_hiyo01 CDATA #IMPLIED
    heya_hiyo_seikyu_kbn01 CDATA #IMPLIED
    heya_hiyo_kazei_kbn01 CDATA #IMPLIED
    heya_hiyo_name02 CDATA #REQUIRED
    heya_hiyo02 CDATA #IMPLIED
    heya_hiyo_seikyu_kbn02 CDATA #IMPLIED
    heya_hiyo_kazei_kbn02 CDATA #IMPLIED
    heya_hiyo_name03 CDATA #REQUIRED
    heya_hiyo03 CDATA #IMPLIED
    heya_hiyo_seikyu_kbn03 CDATA #IMPLIED
    heya_hiyo_kazei_kbn03 CDATA #IMPLIED
    heya_hiyo_name04 CDATA #REQUIRED
    heya_hiyo04 CDATA #IMPLIED
    heya_hiyo_seikyu_kbn04 CDATA #IMPLIED
    heya_hiyo_kazei_kbn04 CDATA #IMPLIED
    heya_hiyo_name05 CDATA #REQUIRED
    heya_hiyo05 CDATA #IMPLIED
    heya_hiyo_seikyu_kbn05 CDATA #IMPLIED
    heya_hiyo_kazei_kbn05 CDATA #IMPLIED
    heya_hiyo_name06 CDATA #REQUIRED
    heya_hiyo06 CDATA #IMPLIED
    heya_hiyo_seikyu_kbn06 CDATA #IMPLIED
    heya_hiyo_kazei_kbn06 CDATA #IMPLIED
    heya_hiyo_name07 CDATA #REQUIRED
    heya_hiyo07 CDATA #IMPLIED
    heya_hiyo_seikyu_kbn07 CDATA #IMPLIED
    heya_hiyo_kazei_kbn07 CDATA #IMPLIED
    heya_hiyo_name08 CDATA #REQUIRED
    heya_hiyo08 CDATA #IMPLIED
    heya_hiyo_seikyu_kbn08 CDATA #IMPLIED
    heya_hiyo_kazei_kbn08 CDATA #IMPLIED
    taikyo_hiyo_name01 CDATA #REQUIRED
    taikyo_hiyo01 CDATA #IMPLIED
    taikyo_hiyo_kazei_kbn01 CDATA #IMPLIED
    taikyo_hiyo_shushi_hyo_kbn01 CDATA #IMPLIED
    taikyo_hiyo_name02 CDATA #REQUIRED
    taikyo_hiyo02 CDATA #IMPLIED
    taikyo_hiyo_kazei_kbn02 CDATA #IMPLIED
    taikyo_hiyo_shushi_hyo_kbn02 CDATA #IMPLIED
    taikyo_hiyo_name03 CDATA #REQUIRED
    taikyo_hiyo03 CDATA #IMPLIED
    taikyo_hiyo_kazei_kbn03 CDATA #IMPLIED
    taikyo_hiyo_shushi_hyo_kbn03 CDATA #IMPLIED
    taikyo_hiyo_name04 CDATA #REQUIRED
    taikyo_hiyo04 CDATA #IMPLIED
    taikyo_hiyo_kazei_kbn04 CDATA #IMPLIED
    taikyo_hiyo_shushi_hyo_kbn04 CDATA #IMPLIED
    taikyo_hiyo_name05 CDATA #REQUIRED
    taikyo_hiyo05 CDATA #IMPLIED
    taikyo_hiyo_kazei_kbn05 CDATA #IMPLIED
    taikyo_hiyo_shushi_hyo_kbn05 CDATA #IMPLIED
    month_ryokin_flg CDATA #IMPLIED
    encho_flg CDATA #IMPLIED
    keiyaku_non_encho_flg CDATA #IMPLIED
    heya_no_non_disp_flg CDATA #IMPLIED
    moshikomi_keiyakusha_flg CDATA #IMPLIED
    old_and_new_ryokin_kbn CDATA #IMPLIED
    keiyaku_ss_flg CDATA #IMPLIED
    chinryo_hosho_flg CDATA #IMPLIED
    moshikomi_shonin_kbn CDATA #IMPLIED
    jogai_flg CDATA #IMPLIED
    seikyu_clearth_flg CDATA #IMPLIED
    nyukyo_final_kakunin_keiyaku_flg CDATA #IMPLIED
    nyukyo_seikyu_final_kakunin_flg CDATA #IMPLIED
    nyukyo_nyukin_final_kakunin_flg CDATA #IMPLIED
    futon_flg CDATA #IMPLIED
    futon_use_kbn CDATA #IMPLIED
    insert_date CDATA #IMPLIED
    insert_staff_name CDATA #REQUIRED
    update_date CDATA #IMPLIED
    update_staff_name CDATA #REQUIRED
    del_datetime CDATA #IMPLIED
    del_staff_id CDATA #REQUIRED
    del_staff_name CDATA #REQUIRED
>

<!ELEMENT t_kokyaku EMPTY>
<!ATTLIST t_kokyaku
    kokyaku_no CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #IMPLIED
    kokyaku_name CDATA #REQUIRED
    kokyaku_kana CDATA #REQUIRED
    kokyaku_kind CDATA #REQUIRED
    oya_kaisha_cd CDATA #IMPLIED
    kokyaku_hyoka_kbn CDATA #IMPLIED
    kokyaku_hyouka_ng_reason CDATA #REQUIRED
    sex CDATA #REQUIRED
    birthday CDATA #IMPLIED
    todofuken_cd CDATA #REQUIRED
    jusho_cd CDATA #REQUIRED
    banchi CDATA #REQUIRED
    building_name CDATA #REQUIRED
    kokyaku_jukyo_kbn CDATA #IMPLIED
    tel01 CDATA #REQUIRED
    tel02 CDATA #REQUIRED
    fax CDATA #REQUIRED
    email CDATA #REQUIRED
    mobile_email CDATA #REQUIRED
    office_name CDATA #REQUIRED
    office_kana CDATA #REQUIRED
    busho_name CDATA #REQUIRED
    work CDATA #REQUIRED
    office_tel CDATA #REQUIRED
    office_tel_naisen CDATA #REQUIRED
    office_fax CDATA #REQUIRED
    office_email CDATA #REQUIRED
    office_todofuken_cd CDATA #REQUIRED
    office_jusho_cd CDATA #REQUIRED
    office_banchi CDATA #REQUIRED
    office_building_name CDATA #REQUIRED
    bank_id CDATA #IMPLIED
    bank_koza_meigi CDATA #REQUIRED
    bank_koza_kind CDATA #IMPLIED
    bank_koza_no CDATA #REQUIRED
    yubin_koza_kigo CDATA #REQUIRED
    yubin_koza_no CDATA #REQUIRED
    use_koza_kbn CDATA #IMPLIED
    waribiki_biko CDATA #REQUIRED
    biko CDATA #REQUIRED
    kokyaku_info_yoto_flg CDATA #IMPLIED
    honten_kaisha_cd CDATA #IMPLIED
>

<!ELEMENT t_kokyaku_comment EMPTY>
<!ATTLIST t_kokyaku_comment
    kokyaku_comment_id CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #IMPLIED
    kokyaku_no CDATA #REQUIRED
    comment CDATA #REQUIRED
    data_shubetsu CDATA #IMPLIED
>

<!ELEMENT t_kokyaku_name_pattern EMPTY>
<!ATTLIST t_kokyaku_name_pattern
    kokyaku_name_pattern_id CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    kokyaku_no CDATA #IMPLIED
    furikominin_name CDATA #REQUIRED
>

<!ELEMENT t_link_kaisha_role EMPTY>
<!ATTLIST t_link_kaisha_role
    kaisha_cd CDATA #REQUIRED
    role_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
>

<!ELEMENT t_link_role_auth EMPTY>
<!ATTLIST t_link_role_auth
    role_cd CDATA #REQUIRED
    authority_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
>

<!ELEMENT t_link_staff_auth EMPTY>
<!ATTLIST t_link_staff_auth
    staff_id CDATA #REQUIRED
    authority_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    separate_setting CDATA #REQUIRED
>

<!ELEMENT t_link_staff_role EMPTY>
<!ATTLIST t_link_staff_role
    staff_id CDATA #REQUIRED
    role_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
>

<!ELEMENT t_nyukin EMPTY>
<!ATTLIST t_nyukin
    nyukin_id CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    oya_kaisha_cd CDATA #IMPLIED
    keiyaku_no CDATA #IMPLIED
    keiyaku_no_old CDATA #IMPLIED
    shiten_cd CDATA #IMPLIED
    nyukin_saki_cd CDATA #IMPLIED
    nyukin_saki_type CDATA #IMPLIED
    nyukin_date CDATA #IMPLIED
    nyukin_yotei_date CDATA #IMPLIED
    toiawase_id CDATA #REQUIRED
    meisho01 CDATA #REQUIRED
    kingaku01 CDATA #IMPLIED
    kingaku_genka01 CDATA #IMPLIED
    nyukin_yotei_kingaku01 CDATA #IMPLIED
    kazei_kbn01 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn01 CDATA #IMPLIED
    meisho02 CDATA #REQUIRED
    kingaku02 CDATA #IMPLIED
    kingaku_genka02 CDATA #IMPLIED
    nyukin_yotei_kingaku02 CDATA #IMPLIED
    kazei_kbn02 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn02 CDATA #IMPLIED
    meisho03 CDATA #REQUIRED
    kingaku03 CDATA #IMPLIED
    kingaku_genka03 CDATA #IMPLIED
    nyukin_yotei_kingaku03 CDATA #IMPLIED
    kazei_kbn03 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn03 CDATA #IMPLIED
    meisho04 CDATA #REQUIRED
    kingaku04 CDATA #IMPLIED
    kingaku_genka04 CDATA #IMPLIED
    nyukin_yotei_kingaku04 CDATA #IMPLIED
    kazei_kbn04 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn04 CDATA #IMPLIED
    meisho05 CDATA #REQUIRED
    kingaku05 CDATA #IMPLIED
    kingaku_genka05 CDATA #IMPLIED
    nyukin_yotei_kingaku05 CDATA #IMPLIED
    kazei_kbn05 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn05 CDATA #IMPLIED
    seikyusho_biko CDATA #REQUIRED
    biko CDATA #REQUIRED
    arealink_koza_flg CDATA #IMPLIED
    shiharai_hoho_kbn CDATA #IMPLIED
    kakunin_flg CDATA #IMPLIED
    ryoshusho_biko CDATA #REQUIRED
    insert_staff_name CDATA #REQUIRED
    update_staff_name CDATA #REQUIRED
>

<!ELEMENT t_owner EMPTY>
<!ATTLIST t_owner
    owner_cd CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    owner_name CDATA #REQUIRED
    owner_kana CDATA #REQUIRED
    owner_authority CDATA #REQUIRED
    owner_kind CDATA #REQUIRED
    oya_kaisha_cd CDATA #IMPLIED
    todofuken_cd CDATA #REQUIRED
    jusho_cd CDATA #REQUIRED
    banchi CDATA #REQUIRED
    building_name CDATA #REQUIRED
    tel01 CDATA #REQUIRED
    tel02 CDATA #REQUIRED
    fax CDATA #REQUIRED
    email CDATA #REQUIRED
    password CDATA #REQUIRED
    bank_id CDATA #IMPLIED
    bank_name CDATA #REQUIRED
    bank_shiten_name CDATA #REQUIRED
    bank_koza_kind CDATA #IMPLIED
    bank_koza_no CDATA #IMPLIED
    bank_koza_meigi CDATA #REQUIRED
    yubin_koza_kigo CDATA #REQUIRED
    yubin_koza_no CDATA #REQUIRED
    use_koza_kbn CDATA #IMPLIED
    cleaning_irregular_email CDATA #REQUIRED
    cleaning_irregular_hani_nissu CDATA #IMPLIED
    owner_kbn CDATA #IMPLIED
    cleaning_ryokin CDATA #IMPLIED
    biko CDATA #REQUIRED
    insert_date CDATA #IMPLIED
>

<!ELEMENT t_password_history EMPTY>
<!ATTLIST t_password_history
    staff_id CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    kaisha_cd CDATA #REQUIRED
    login_id CDATA #REQUIRED
    password_change_datetime CDATA #REQUIRED
    password CDATA #REQUIRED
>

<!ELEMENT t_role EMPTY>
<!ATTLIST t_role
    role_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    type CDATA #IMPLIED
    role_name CDATA #REQUIRED
    role_setsumei CDATA #REQUIRED
>

<!ELEMENT t_serial_number EMPTY>
<!ATTLIST t_serial_number
    shikibetsu_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #IMPLIED
    final_fuban_date CDATA #REQUIRED
    final_no CDATA #REQUIRED
    comment CDATA #REQUIRED
>

<!ELEMENT t_shukkin EMPTY>
<!ATTLIST t_shukkin
    shukkin_cd CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #IMPLIED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    oya_kaisha_cd CDATA #IMPLIED
    shiten_cd CDATA #IMPLIED
    keiyaku_no CDATA #IMPLIED
    keiyaku_no_old CDATA #IMPLIED
    meisho01 CDATA #REQUIRED
    kingaku CDATA #IMPLIED
    kingaku_genka01 CDATA #IMPLIED
    shukkin_yotei_kingaku01 CDATA #IMPLIED
    kazei_kbn01 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn01 CDATA #IMPLIED
    meisho02 CDATA #REQUIRED
    kingaku02 CDATA #IMPLIED
    kingaku_genka02 CDATA #IMPLIED
    shukkin_yotei_kingaku02 CDATA #IMPLIED
    kazei_kbn02 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn02 CDATA #IMPLIED
    meisho03 CDATA #REQUIRED
    kingaku03 CDATA #IMPLIED
    kingaku_genka03 CDATA #IMPLIED
    shukkin_yotei_kingaku03 CDATA #IMPLIED
    kazei_kbn03 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn03 CDATA #IMPLIED
    meisho04 CDATA #REQUIRED
    kingaku04 CDATA #IMPLIED
    kingaku_genka04 CDATA #IMPLIED
    shukkin_yotei_kingaku04 CDATA #IMPLIED
    kazei_kbn04 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn04 CDATA #IMPLIED
    meisho05 CDATA #REQUIRED
    kingaku05 CDATA #IMPLIED
    kingaku_genka05 CDATA #IMPLIED
    shukkin_yotei_kingaku05 CDATA #IMPLIED
    kazei_kbn05 CDATA #IMPLIED
    keiyaku_hiyo_shushi_hyo_kbn05 CDATA #IMPLIED
    reason CDATA #REQUIRED
    biko CDATA #REQUIRED
    shukkin_date CDATA #IMPLIED
    shukkin_saki_cd CDATA #IMPLIED
    shukkin_saki_kbn CDATA #IMPLIED
    shukkin_nyukin_yotei_date CDATA #IMPLIED
    shiharai_hoho_kbn CDATA #IMPLIED
>

<!ELEMENT t_staff EMPTY>
<!ATTLIST t_staff
    staff_id CDATA #REQUIRED
    kaisha_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    login_id CDATA #REQUIRED
    id_status CDATA #REQUIRED
    last_login_datetime CDATA #IMPLIED
    password CDATA #REQUIRED
    password_failure_count CDATA #REQUIRED
    password_failure_datetime CDATA #IMPLIED
    password_locked CDATA #REQUIRED
    password_lock_datetime CDATA #IMPLIED
    password_temporary CDATA #REQUIRED
    password_change_datetime CDATA #REQUIRED
    password_change_staff_id CDATA #IMPLIED
    password_expire_datetime CDATA #REQUIRED
    staff_authority CDATA #REQUIRED
    staff_name CDATA #REQUIRED
    staff_kana CDATA #REQUIRED
    birthday CDATA #IMPLIED
    jusho_cd CDATA #REQUIRED
    banchi CDATA #REQUIRED
    jusho_biko CDATA #REQUIRED
    yubin_no_sonota CDATA #REQUIRED
    jusho_sonota CDATA #REQUIRED
    tel01 CDATA #REQUIRED
    tel02 CDATA #REQUIRED
    fax CDATA #REQUIRED
    email01 CDATA #REQUIRED
    email02 CDATA #REQUIRED
    role CDATA #REQUIRED
    login_cd CDATA #IMPLIED
    mail_signature CDATA #REQUIRED
    tanto_area_cd CDATA #REQUIRED
    biko CDATA #REQUIRED
    insert_staff_name CDATA #REQUIRED
    update_staff_name CDATA #REQUIRED
    del_datetime CDATA #IMPLIED
    del_staff_id CDATA #REQUIRED
    del_staff_name CDATA #REQUIRED
>

<!ELEMENT t_staff_authority EMPTY>
<!ATTLIST t_staff_authority
    authority_cd CDATA #REQUIRED
    insert_staff_id CDATA #REQUIRED
    insert_datetime CDATA #REQUIRED
    insert_program CDATA #REQUIRED
    update_staff_id CDATA #REQUIRED
    update_datetime CDATA #REQUIRED
    update_program CDATA #REQUIRED
    delete_flg CDATA #REQUIRED
    muko_datetime CDATA #IMPLIED
    haishi_staff_id CDATA #REQUIRED
    haishi_staff_name CDATA #REQUIRED
    category_name CDATA #REQUIRED
    sort_ordering_category CDATA #REQUIRED
    authority_name CDATA #REQUIRED
    authority_setsumei CDATA #REQUIRED
    use_page_url CDATA #REQUIRED
    use_gyosha_setsumei CDATA #REQUIRED
    sort_ordering_in_category CDATA #REQUIRED
    default_use_authority_kbn CDATA #IMPLIED
    default_checkbox_states CDATA #IMPLIED
    insert_staff_name CDATA #REQUIRED
    update_staff_name CDATA #REQUIRED
>

<!ELEMENT t_staff_session EMPTY>
<!ATTLIST t_staff_session
    staff_session_id CDATA #REQUIRED
    kaisha_cd CDATA #IMPLIED
    insert_staff_id CDATA #IMPLIED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #IMPLIED
    update_staff_id CDATA #IMPLIED
    update_datetime CDATA #IMPLIED
    update_program CDATA #IMPLIED
    delete_flg CDATA #IMPLIED
    login_cd CDATA #IMPLIED
    staff_id CDATA #REQUIRED
    login_id CDATA #REQUIRED
    start_time CDATA #IMPLIED
    ip_address CDATA #REQUIRED
    logout_flg CDATA #IMPLIED
    final_access_datetime CDATA #IMPLIED
>

<!ELEMENT user EMPTY>
<!ATTLIST user
    id CDATA #REQUIRED
    user_old_id CDATA #IMPLIED
    uuid CDATA #IMPLIED
    version CDATA #IMPLIED
    name CDATA #REQUIRED
    age CDATA #REQUIRED
    insert_staff_id CDATA #IMPLIED
    insert_datetime CDATA #IMPLIED
    insert_program CDATA #IMPLIED
    update_staff_id CDATA #IMPLIED
    update_datetime CDATA #IMPLIED
    update_program CDATA #IMPLIED
>

<!ELEMENT user_info EMPTY>
<!ATTLIST user_info
    user_id CDATA #REQUIRED
    username CDATA #REQUIRED
    password CDATA #REQUIRED
    enabled CDATA #REQUIRED
    cnt_badcredentials CDATA #REQUIRED
    expired_account CDATA #REQUIRED
    expired_password CDATA #REQUIRED
    mail_address CDATA #REQUIRED
>

<!ELEMENT user_role EMPTY>
<!ATTLIST user_role
    role_id CDATA #REQUIRED
    user_id CDATA #REQUIRED
    role CDATA #REQUIRED
>

